@font-face{
    font-family:'SWEET_REVENGE';
    src: url('fonts/SWEET_REVENGE.otf');
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: sans-serif;
    background-color: #040404;
    color: #fff;
    position: relative;
    background: transparent;

    &::before{
        content: "";
        position: fixed;
        background: #040404 top right no-repeat; //can place an image if you want
        background-size: cover;
        left: 0;
        right: 0;
        top: 0;
        height: 100vh;
        z-index: -1;
    }
}

.navbar {
    ul {
        display: flex;
        justify-content: space-evenly;
        margin: 0 auto;
    }
}

h1 {
    font-family: 'DotGothic16', sans-serif;
    color: lightblue;
    margin: 0 0 10px 0;
    font-size: 70px;
}
h2 {
    font-size: 2rem;
}

a{
    color: greenyellow;
    text-decoration: none;

    &:hover {
        color: green;
        text-decoration: none;
    }
}

#landing{
    width: 100%;
    height: 100vh;
    background: url("https://images.pexels.com/photos/373883/pexels-photo-373883.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") top right;
    background-size: cover;
    position: relative;

    &::before{
        content: "";
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
    }
    .landing-container{
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0 15px;
    }

    h2 {
        color: #fff;
        margin-bottom: 50px;
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .btn-scroll{
        transition: .5s;
        color: grey;
        animation: up-down 1s ease-in-out infinite  alternate-reverse both;

        i{
            font-size: 48px;
        }

        img {
            display: flex;
            justify-content: center;
            margin: 0 auto;
        }

        &:hover{
            color: rgb(182, 148, 74);
        }

    }
}

.skills{
    color: white;
    .progress{
        height: 60px;
        display: block;
        background: none;
        border-radius: 0;

        .skill{
            padding: 10px 0;
            margin: 0;
            text-transform: uppercase;
            display: block;
            font-weight: 500;
            color: #fff;
            .val{
                float: right;
                font-style: normal;
            }
        }
    }

    .progress-bar-wrap {
        background: lightgray;
        border-radius: 25px;
        
    }

    .progress-bar{
        height: 10px;
        transition: .9s;
        background-color: rgb(0, 191, 255);
        border-radius: 100px;
        height: 25px;
        width: auto;
        text-align: right;
        i {
            padding: 15px;
        }
    }

}

.resume{
    .resume-title{
        font-size: 26px;
        font-weight: 700;
        margin-top: 20px;
        margin-bottom: 20px;
        color: #fff;
    }

    .resume-item{
        color: white;
        padding: 0 0 20px 20px;
        margin-top: -2px;
        border-left: 2px solid rgb(0, 191, 255);
        position: relative;
        h4{
            line-height: 18px;
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
            color: lightblue;
            margin-bottom: 10px;
        }
        h5{
            font-size: 16px;
            background: rgba(255, 255, 255, 0.15);
            padding: 5px 15px;
            display: inline-block;
            font-weight: 600;
            margin-bottom: 10px;
        }
        ul{
            padding-left: 20px;
            li{
                padding-bottom: 0;
            }
        }
        &:last-child{
            padding-bottom: 0;
        }
        &::before{
            content: "";
            position: absolute;
            width: 16px;
            height: 16px;
            border-radius: 50px;
            left: -9px;
            top: 0;
            background: blue;
            border: 2px solid darkblue
        }
    }
}

.projects {
    text-align: center;
    display: flex;
    justify-content: center;
    .boxcon {
        display: flex;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
    }
    .box {
        display: flex;
        justify-content: center;
        width: 200px;
        height: 200px;
        background-color: grey;
        margin: 15px;
        border-radius: 15px;
        border: 3px lightblue solid;
    }
    .box:hover {
        transition: 1s all;
        background-color: rgb(155, 155, 155);
        box-shadow: 0px 0px  black, .5em .5em .5em black;
    }
}